fastapi
uvicorn
python-dotenv
sqlalchemy
psycopg2-binary  # PostgreSQL driver
pydantic
passlib[bcrypt]  # Password hashing
pyjwt
python-jose[cryptography]
email-validator
gunicorn # Required for production deployment
alembic

